{% extends 'index.html' %}


{% block content %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-body">
                <h1>System Login</h1>
                <form method = "POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class='btn btn-primary' id="text-nav-oauth">Login</button>
                </form>
            </div>
        </div>
    </div>

    

               
{% endblock %}