{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div class = "d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h1>Daftar</h1>
            </div>
            <div class="card-body">
                <form method = "POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary" id = "tombolRegis">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}