@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 650px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: #23374d !important;
}
h1,h2,#text-nav-oauth,label, .helptext, li, .p{
    color: #e5e5e5 ;
}
.p{
    font-size: 10px;
}




