{% extends 'index.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                     <h2>Hai {{user.username}}, bagaimana perkuliahan di Fasilkom?</h2>
                     <button class='btn btn-primary' id="text-nav-oauth">Baik</button>
                     <button class='btn btn-primary' id="text-nav-oauth">!Baik</button>
                     <div class = 'p'>*button diatas hanya pemanis</div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'myapp:logout_url' %}" id = "logout">Logout</a>
                </div>
                
        </div>
    </div>
    {% endif %}
{% endblock %}