{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Story 9</title>
</head>
<body>
        {% block content %}

        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class = "card-body">
                        <div class = 'text-alignment center'><h1>Selamat datang di web Marandi</h1>
                        {% if user.is_authenticated %}
                            <a class='btn btn-primary' href="{% url 'myapp:logout_url' %}" id="text-nav-oauth">Logout</a>
                            {% else %}
                            <a class='btn btn-primary' href="{% url 'myapp:login_url' %}" id="text-nav-oauth">Login</a>
                            <a class='btn btn-primary' href="{% url 'myapp:register_url' %}" id="text-nav-oauth1">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                    {% endif %}
        {% endblock %}
    
</body>
</html>